<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dao.HxResumeOfCompanyDao.ResumeOfCompanyMapper" >
    <select id="yanzheng" resultType="HxResumeOfCompany">
        SELECT * FROM huixian.hx_resume_of_company where companyid=#{companyid} and resumeid=#{resumeid}
    </select>
    <insert id="xinzeng" >
        insert into hx_resume_of_company value(#{companyid},#{resumeid},staid=0)
    </insert>
</mapper>